<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      header {
        background-color: #3d3d3d;
        color: #fff;
        padding: 10px 20px;
        text-align: center;
      }
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      nav ul li {
        display: inline;
        margin-right: 20px;
      }
      nav ul li a {
        color: #fff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>MY E-COM</h1>
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Refresh</a></li>
        </ul>
      </nav>
    </header>

    <!-- 
        Semantic : The tag which is self explanatory, style, head, header, form , table, list etc
        Non semantic: The tag which are not self explanatory
        <div> 
     -->

    <div style="border: 1px solid red">
      <img src="../Input_Val/img1.jpg" alt="" style="width: 200px" />
    </div>

    <img
      src="../Input_Val/img1.jpg"
      alt=""
      style="width: 200px; border: 1px solid blue"
    />
    <img
      src="../Input_Val/img1.jpg"
      alt=""
      style="width: 200px; border: 1px solid blue"
    />
    <a href="" style="border: 1px solid red">Google</a>

    <br />
    <br />

    <span style="border: 1px solid red">
      <img src="../Input_Val/img1.jpg" alt="" style="width: 200px" />
    </span>
    <span style="border: 1px solid red">
      <img src="../Input_Val/img1.jpg" alt="" style="width: 200px" />
    </span>

    <div  style="border: 1px solid red">
        <span style="border: 1px solid red">1</span>
        <span style="border: 1px solid blue">2</span>
        <span style="border: 1px solid green">3</span>
    </div>

    <div>1</div>
    <div>2</div>
    <div>3</div>

    <footer>
      <p>&copy; 2024 MY E-COM, All rights are reserved.</p>
    </footer>
  </body>
</html>

<!-- 
    a : a tag is used to connect two pages in body
    link: link is used to connect two sheets 
 -->

 <!-- Diff b/w div and span

div: block, parent tag
span: inline, Child tag

-->